logs
project/project
project/target
target
sonatype.sbt
tmp
.history
dist
.idea
*.iml
/out
.idea_modules
.classpath
.project
/RUNNING_PID
/null
.bsp
.settings
.DS_Store

# hidden cross project folders
shared/.js
shared/.jvm

# temp files
.~*
*~
*.orig

# eclipse
.scala_dependencies
.buildpath
.cache
.target
bin/
.cache-tests
.cache-main
